.servicecontainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.servicecard {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.servicecard h4 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
}

.servicecard p {
  font-size: 14px;
}
