/* body{
  height: 1000vh;
} */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: poppins; */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1170px;
  margin-inline: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 1170px) {
  .container {
    padding-inline: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-inline: 16px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-inline: 12px;
  }
}
